<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}Samantha Del Vecchio{% endblock %}</title>
		<meta name="description" content="{% block description %}Samantha Del Vecchio{% endblock %}">
		
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
		<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
		<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#ffffff">

		<!-- MS Stuff -->
		<meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
		<meta name="application-name" content="Samantha Del Vecchio"/>

		{% block canonical_url %}
		<link rel="canonical" href="">
		{% endblock %}

		<!-- Critical CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		{% block critical_css %}
		<style>
			
		</style>
		{% endblock %}

		<!-- Facebook OG Card and Twitter Card -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ url_for('index') }}">
		<meta property="og:title" content="Samantha Del Vecchio">
		<meta property="og:image" content="{{ url_for('static', filename='img/img') }}">
		<meta property="og:description" content="Samantha Del Vecchio">
		<meta property="og:site_name" content="Samantha Del Vecchio">
		<meta property="og:locale" content="en_US">
		<!-- Next tags are optional but recommended -->
		<meta property="og:image:width" content="">
		<meta property="og:image:height" content="">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		{% block page_css %}
		<!-- CSS Files -->
		{% endblock %}
		{% block page_js %}
		<!-- JS Files -->
		{% endblock %}

		

		{% block bootstrap_tags %}
		<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		{% endblock %}

		<script>
		</script>
	</head>

	<body>
		{% block content %}
		<!-- title bar and menu bar -->
		<div class="container-fluid">
			<div class="row sticky-top">
				<div class="col">
					<a class="nav-link" href="{{ url_for("index") }}"><span class="brand">Samantha Del Vecchio</span></a>
				</div>
				<div class="col">
					<nav class="navbar navbar-dark">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="{{ url_for("index") }}">Home</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>

			<div class="row">
				<!-- main content -->
				<div id="page-container" class="col">
					{% block body %}

					{% endblock %}
				</div>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
