<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}Samantha Del Vecchio{% endblock %}</title>
		<meta name="description" content="{% block description %}Samantha Del Vecchio{% endblock %}">
		
		<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
		<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
		<link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="theme-color" content="#ffffff">

		<!-- MS Stuff -->
		<meta name="msapplication-config" content="{{ url_for('static', filename='browserconfig.xml') }}">
		<meta name="application-name" content="Samantha Del Vecchio"/>

		{% block canonical_url %}
		<link rel="canonical" href="">
		{% endblock %}

		<!-- Critical CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		{% block critical_css %}
		<style>
			
		</style>
		{% endblock %}

		<!-- Facebook OG Card and Twitter Card -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{ url_for('index') }}">
		<meta property="og:title" content="Samantha Del Vecchio">
		<meta property="og:image" content="{{ url_for('static', filename='img/img') }}">
		<meta property="og:description" content="Samantha Del Vecchio">
		<meta property="og:site_name" content="Samantha Del Vecchio">
		<meta property="og:locale" content="en_US">
		<!-- Next tags are optional but recommended -->
		<meta property="og:image:width" content="">
		<meta property="og:image:height" content="">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		{% block page_css %}
		<!-- CSS Files -->
		{% endblock %}
		{% block page_js %}
		<!-- JS Files -->
		{% endblock %}

		

		{% block bootstrap_tags %}
		<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		{% endblock %}

		{% block hammerjs %}
			<script src="{{ url_for('static', filename='hammer.js') }}"></script>
		{% endblock %}

		<script>
		var goto_next_page = function(forwardFlow = true) {
			var current = $('.page.active');
			var next = (forwardFlow ? $(current).next() : $(current).prev());
			
			if (next.length != 0) {
				current.removeClass('active');
				next.addClass('active');
			}
		};

		var goto_prev_page = function() {
			goto_next_page(false);
		};

		var hammertime = new Hammer(document);
		hammertime.get('swipe').set({ direction: Hammer.DIRECTION_VERTICAL });
		
		hammertime.on('swipeup', function(ev) {
			//Next
			goto_next_page();
		});
		hammertime.on('swipedown', function(ev) {
			//Prev
			goto_prev_page();
		});

		$(function() {

			
			$(document).keyup(function (event){
				if (event.which == 40) {
					//Next
					goto_next_page();
				}
				if (event.which == 38) {
					//Prev
					goto_prev_page();
				}
			});
			
		});
		</script>
	</head>

	<body>
		{% block content %}
		<!-- title bar and menu bar -->
		<div class="container-fluid h-100">
			<div class="row sticky-top">
				<div class="col-10">
					<a class="nav-link" href="{{ url_for("index") }}"><span class="brand">Samantha Del Vecchio</span></a>
				</div>
				<div class="col-2">
					<nav class="navbar navbar-light">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="{{ url_for("index") }}">Home</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>

			<div class="row h-100">
				<!-- main content -->
				<div id="page-container" class="col">
					{% block body %}

					{% endblock %}
				</div>
			</div>
		</div>
		{% endblock %}
	</body>
</html>
