{% extends "base.html" %}

{% block title %}Samantha Del Vecchio{% endblock %}

{% block canonical_url %}
<link rel="canonical" href="">
{% endblock %}

{% block page_css %}
{% endblock %}

{% block page_js %}
{% endblock %}

{% block body %}
<div class="page active">
	<h1>Samantha <span class="text-nowrap">Del Vecchio</span></h1>
	<h2>Divisional Product Trainer</h2>
</div>
<div class="page">
	<h1>Skills and Knowledge</h1>
	<p>6 years in instructional design, including e-learning development for software programmers, and six years of management experience in Operations and Human Resources; to include three years of quality assurance, employee training, customer service and sales. Advanced technical and computer knowledge with a wide range of experience using multiple training development programs. Proven ability to take on additional responsibilities, challenges, as well as highly flexible and adaptable to an ever changing environment.</p>
	<h2>Specialties</h2>
	<ul>
		<li>Being Awesome!</li>
		<li>Training Programs</li>
		<li>Policy Analysis</li>
		<li>Multimedia Creation</li>
		<li>Project Management</li>
		<li>Inventory Management</li>
		<li>Human Resources</li>
		<li>Customer Relations</li>
		<li>Customer Service</li>
		<li>Speech Writing</li>
		<li>Profit and Loss Analysis</li>
		<li>Assets Recovery</li>
		<li>Coaching</li>
		<li>Recruiting</li>
	</ul>
	<h2>Technologies</h2>
	<ul>
		<li>Captivate</li>
		<li>Camtasia</li>
		<li>Microsoft Office Suite</li>
		<li>Dreamweaver</li>
		<li>Snagit</li>
		<li>Goldwave</li>
	</ul>
</div>
<div class="page">
	<h1>About Me</h1>
	<p>
		Passionate learner! The best way to learn something is to teach it to someone else. My career has allowed me to learn and grow as a person. I spend my time trying new things and playing video games. I have 3 wonderful children; Tim, Steve, and Dominique. The most influential person in my life has been my Mother, Deetta (A happy Mother's Day to you too)!
	</p>
</div>
<div class="page">
	<h1>Happy Mother's Day</h1>
	<p>I hope you enjoy this gift. I love you mom. This is certainly a bizarre gift. I can show you how to checkout this code so you can make changes to the content and I can deploy it for you.</p>
</div>
{% endblock %}