html, body {
	height: 100%;
}
body {
	color: #420039;
	background: linear-gradient(to bottom right, #fcb69f, #ffecd2) no-repeat fixed center;
}

a:active,
a:hover,
a:link,
a:visited {
	color: #932f6d;
}

.navbar-toggler {
	position: absolute;
	top: -25px;
	right: 0px;
}

.navbar {
	float: right;
	position:relative;
	top: 30px;
	min-width: 10em;
}

.brand {

}

.reduced-bot-margin {
	margin-bottom: 1em !important;
}

.page {
	margin-bottom: 3em;
}

@media (min-height: 0px) {
	#title-page, #page-container {
		height: 100%;
	}
	.page h3 {
		margin-bottom: 2em;
		text-align: center;
	}
	.page p {
		text-indent: 2em;
	}

	.center {
		margin-left: auto;
		margin-top: auto;
		margin-right: auto;
		width: 100%;
		display: block;
		padding-top: 4em;
		max-width: 40em;
	}
}

@media (min-width: 0px) {
	.page h1, #title-page h1 {
		font-size: 3em;
		margin-top: 1em;
	}
	.page h2, #title-page h2 {
		font-size: 1.5em;
	}
}

@media (min-height: 700px) {
	#title-page, #page-container {
		height: 100%;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 375px) {
	.page h1, #title-page h1 {
		font-size: 3.5em;
	}
	.page h2, #title-page h2 {
		font-size: 1.5em;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.page, #title-page {
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}

	.page h1, #title-page h1 {
		font-size: 4em;
		margin-left: 1em;
	}
	.page h2, #title-page h2 {
		font-size: 2em;
		margin-left: 2.2em;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.page, #title-page {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
